<mat-toolbar color="primary" class="sticky-top">
  <mat-toolbar-row>
    <div class="d-lg-none">
      <a (click)="sidenavToggle()">
        <i class="material-icons pointer">
          menu
        </i>
      </a>
    </div>

    <div class="mx-auto mx-lg-0 pr-4">Wyxic</div>

    <nav class="d-none d-lg-block flex-grow-1 margin-nav-link">
      <ul class="justify-content-center flex-row navbar-nav">
        <li class="nav-item mx-3">
          <a
            routerLink="home"
            class="nav-link text-blanco"
            routerLinkActive="active-nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item mx-3" *ngIf="user$ | async">
          <a
            routerLink="dashboard"
            routerLinkActive="active-nav-link"
            [routerLinkActiveOptions]="{ exact: false }"
            class="nav-link text-blanco"
            >Dashboard</a
          >
        </li>
      </ul>
    </nav>

    <div *ngIf="user$ | async" class="d-none d-lg-block position-fixed float-right right">
      <ul class="flex-row navbar-nav">
        <li class="nav-item mx-3">
          <a class="nav-link d-flex align-items-center pointer">
            <span>{{ (user$ | async)?.nombre }} </span>
            <i class=" ml-1 material-icons "> person_outline </i>
          </a>
        </li>
        <li class="nav-item mx-3 ">
          <a
            routerLink="dashboard/settings"
            routerLinkActive="active-nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link d-flex align-items-center text-blanco"
          >
            <span> Settings </span>
            <i class=" ml-1 material-icons "> settings_applications </i>
          </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link d-flex align-items-center pointer" (click)="logout()">
            <span> Logout </span>
            <i class=" ml-1 material-icons"> power_settings_new </i>
          </a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
